{
  "presets": [
    "react",
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-async-functions",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-runtime",
    "transform-proto-to-assign",
    "syntax-export-extensions"
  ],
  "env": {
    "test": {
      "presets": [
        "react", "env"
      ],
      "plugins": [
        "syntax-dynamic-import",
        "syntax-async-functions",
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "transform-regenerator",
        "transform-runtime",
        "transform-proto-to-assign",
        "syntax-export-extensions"
      ]
    },
    "commonjs": {
      "presets": [
        "react",
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          }
        }]
      ],
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }],
        "syntax-dynamic-import",
        "syntax-async-functions",
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "transform-regenerator",
        "transform-runtime",
        "transform-proto-to-assign",
        "syntax-export-extensions"
      ]
    }
  }
}
